@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Most Common Bank of Australia</h1>
    <div class="text-center">
        <img src="~/img/stockImageHome.jpg" alt="bank" />
    </div>
</div>
